<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:my="http://www.w3.org/1999/xhtml">
<head>
    <title>index page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        h1 {font-size:18pt; font-weight:bold; color:gray}
        body{font-size:13pt; color:gray; margin:5px 25px;}
        tr{margin:5px;}
        th{padding:5px; color:white; background:darkgray;}
        td{padding:5px; color:black; background:#f0f0f0;}
        table.navi {width:100%; background:white}
        table.navi tr {background:white;}
        table.navi tr td {background:white}
        .err{color: red;}
    </style>
</head>
<body>
<h1>Success Login</h1>
</body>
</html>